# U.Group Coding Challenge Answers
## J. Mark Daniels

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('cars.db')
c = conn.cursor()

In [3]:
c.execute('''SELECT *
            FROM Sales
            ;''')

df_Sales = pd.DataFrame(c.fetchall())
df_Sales.columns = [x[0] for x in c.description]

df_Sales.head()

,VIN,CarYear,Color,VehBody,EngineType,Make,Miles,Odometer,Brand,VehType,LocationNum,CarType,EngineLiters,FuelType,Transmission,SaleLoc,PurchVal
0,1G1AL15F777226903,2007,Silver,2 Door,4 Cylinder,COBALT LT,117029.0,Accurate,CHEVROLET,Passenger,86,Compact,2.2L,Gasoline,Automatic,86,4900
1,5NPEU46C66H126152,2006,Silver,4 Door,4 Cylinder,SONATA GLS/LX,108890.0,Accurate,HYUNDAI,Passenger,189,Full-size,2.4L,Gasoline,Automatic,189,5700
2,3MEHM08Z48R665374,2008,White,4 Door,4 Cylinder,MILAN,138000.0,Accurate,MERCURY,Passenger,360,Full-size,2.3L,Gasoline,Automatic,360,2890
3,1HGCP2F81AA000524,2010,Red,4 Door,4 Cylinder,ACCORD,89643.0,Accurate,HONDA,Passenger,302,Mid-size,2.4L,Gasoline,Automatic,302,9000
4,2G2WC52C951325364,2005,Maroon,4 Door,8 Cylinder,GRAND PRIX,127806.0,Accurate,PONTIAC,Passenger,295,Full-size,5.3L,Gasoline,Automatic,295,4000